# 필수 라이브러리
langdetect==1.0.9
pymysql==1.1.1
numpy==2.2.6
pytz==2025.2
scikit_learn==1.6.1
selenium==4.33.0
SQLAlchemy==2.0.41
torch==2.7.0
transformers==4.51.3


# 크롤링용
feedparser==6.0.11
newspaper==0.1.0.7
beautifulsoup4==4.13.2
lxml==5.4.0

# Streamlit 웹앱 용도 (필요 시)
streamlit==1.45.0

# 선택 사항 (모델 저장 등)
safetensors==0.5.3

# 환경 변수 설정 라이브러리
python-dotenv==1.1.0
python_dateutil==2.9.0.post0

